<template>
  <div class="">
    <div
      class="relative w-32 text-center mx-auto cursor-pointer bg-red-800 rounded-lg px-3 py-1 text-white text-xs"
      @click="loadData"
    >
      Demo
    </div>
  </div>
</template>
<script lang="ts">
import zlib from 'zlib'
import Vue from 'vue'
import axios from 'axios'
// import pack from '../static/tad.geneHood.pack.json'

export default Vue.extend({
  methods: {
    loadData() {
      axios
        .get('/flim-gamma.geneHood.pack.json.gz', {
          responseType: 'arraybuffer'
        })
        .then((data) => {
          const dataZipped = Buffer.from(data.data)
          const unzippedRaw = zlib.gunzipSync(dataZipped)
          const pack = JSON.parse(unzippedRaw.toString())
          this.$root.$emit('dataReceived', pack)
        })
    }
  }
})
</script>
<style></style>
