<template>
  <div class="py-2 px-5 w-full text-gray-800 bg-white">
    <div class="flex flex-wrap">
      <div id="logo" class="mx-1 my-auto inline-block w-auto">
        <div class="w-10 mx-auto">
          <img src="@/assets/logo.nobg.black.png" />
        </div>
        <div class="mx-auto">
          <div class="mx-auto font-title text-xs cursor-default">
            GeneHood
          </div>
        </div>
      </div>
      <div
        id="info"
        class="flex flex-grow flex-row h-24 w-64 max-w-3xl ml-auto"
      >
        <div class="px-2 container w-1/2">
          <gene-info-display
            v-if="status.hovered"
            id="infoHovered"
            :mask="infoGene.representation.mask"
            :aseq="infoGene.aseq_id"
            :aseq-info="infoGene.aseqInfo"
            :stable-id="infoGene.stable_id"
            :species="infoGenome.species"
            :strain="infoGenome.strain"
            :locus="infoGene.locus"
            :names="parseNames(infoGene.names)"
            :notes="infoGene.notes"
            :group-color="bestGroup.color"
            :group-hash="bestGroup.hash"
            :group-evalue="bestGroup.evalue"
            :group-size="bestGroup.size"
            kind="hover"
            class="mr-0"
          />
        </div>
        <div class="px-1 container w-1/2" @click="findSelected()">
          <gene-info-display
            v-if="status.selected"
            id="infoSelected"
            :aseq="selectedInfo.gene.aseq_id"
            :aseq-info="selectedInfo.gene.aseqInfo"
            :stable-id="selectedInfo.gene.stable_id"
            :species="selectedInfo.genome.species"
            :strain="selectedInfo.genome.strain"
            :locus="selectedInfo.gene.locus"
            :names="parseNames(selectedInfo.gene.names)"
            :group-color="selectedInfo.bestGroup.color"
            :group-hash="selectedInfo.bestGroup.hash"
            :group-evalue="selectedInfo.bestGroup.evalue"
            :group-size="selectedInfo.bestGroup.size"
            kind="select"
            class="text-red-800"
          />
        </div>
      </div>
      <div
        id="control"
        class="flex flex-col mx-auto h-24 font-gligoth justify-center"
      >
        <div class="flex flex-row justify-between">
          <div class="">
            PROJECT {{ pack.config.user.settings.geneHoodPrefix }}
          </div>
          <div :title="`${pack.config.internal.hash}`" class="">
            <div class="ml-5 flex">HASH {{ settingsHash.start }}</div>
          </div>
        </div>
        <div class="flex flex-col w-64">
          <div class="flex flex-col">
            <div class="flex flex-row items-center justify-between">
              <div>
                COLOR
              </div>
              <div class="flex flex-row w-48 pl-4 my-1 items-end">
                <slider-picker v-model="control.currentColor" />
              </div>
            </div>
            <div class="flex flex-row items-center font-gligoth mt-1">
              <div class="">
                SIMILARITY
              </div>
              <div class="ml-2 flex flex-row w-full items-center">
                <input
                  id="formSim"
                  v-model.number.lazy="control.evalueThr"
                  :placeholder="control.evalueThr"
                  interval="1"
                  type="text"
                  class="mx-2 w-8 text-green-700 focus:outline-none text-center align-text-bottom"
                />
                <vue-slider
                  id="sliderSim"
                  v-model="control.evalueThr"
                  :min="kDefault.thresholdLimits.min"
                  :max="kDefault.thresholdLimits.max"
                  :process="false"
                  direction="ltr"
                  tooltip="none"
                  width="100%"
                />
              </div>
              <div
                v-if="inputOutOfRange"
                class="ml-2 text-red-700 text-2xs font-gligoth leading-none"
              >
                OUT OF RANGE
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="save" class="flex flex-col h-24 font-gligoth ml-4">
        <div class="text-center">
          EXPORT
        </div>
        <div class="justify-between flex-grow">
          <a
            id="save-svg"
            class="block bg-red-600 rounded-sm text-center text-white cursor-pointer my-1"
            @click="exportSVG"
          >
            svg
          </a>
          <a
            id="save-project"
            class="block bg-blue-800 rounded-sm text-center text-white cursor-pointer px-1 my-1"
            @click="exportProject"
          >
            project
          </a>
        </div>
      </div>
    </div>
    <div
      id="dialogBox"
      class="border border-gray-300 rounded-full text-red-600 italic text-2xs text-right pr-2 uppercase my-1"
    >
      {{ dialogMsg }}
    </div>
  </div>
</template>
<script lang="ts">
import zlib from 'zlib'
import Vue from 'vue'
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/default.css'
import { Slider } from 'vue-color'
import { Logger } from 'loglevel-colored-prefix'

import { IGene } from 'src/interfaces'
import GeneInfoDisplay from './GeneInfoDisplay.vue'

const logger = new Logger('info')
const log = logger.getLogger('NavBar')

export default Vue.extend({
  components: {
    GeneInfoDisplay,
    VueSlider,
    'slider-picker': Slider
  },
  props: {
    pack: {
      type: Object,
      default() {
        return {
          config: {
            internal: {
              hash: ''
            },
            user: {
              settings: {
                geneHoodPrefix: ''
              },
              newickTree: ''
            }
          }
        }
      }
    },
    control: {
      type: Object,
      default() {
        return {
          evalueThr: 100,
          currentColor: '#FFFFFF'
        }
      }
    }
  },
  data() {
    const settingsHash = {
      start: '',
      hashColors: [],
      end: ''
    }

    const infoGene: any = {}
    const selectedInfo: any = {}
    const infoGenome = {}
    const inputOutOfRange = false
    const status = {
      hovered: false,
      selected: false
    }
    const kDefault = {
      bestGroup: {
        color: '#FFFFFF',
        hash: '',
        evalue: 0
      },
      thresholdLimits: {
        max: 180,
        min: 1
      }
    }
    const bestGroup = kDefault.bestGroup
    const dialogMsg = `Project ${this.pack.config.user.settings.geneHoodPrefix} loaded.`
    return {
      bestGroup,
      dialogMsg,
      infoGene,
      infoGenome,
      inputOutOfRange,
      kDefault,
      selectedInfo,
      settingsHash,
      status
    }
  },
  watch: {
    'control.currentColor'(newColor: any) {
      log.debug(`new color: ${JSON.stringify(newColor)}`)
      this.dialogMsg = `New color selected: ${newColor.hex}`
      this.$root.$emit('colorChange', newColor.hex)
    },
    'control.evalueThr'(newThr: any) {
      log.debug(`new threshold: ${JSON.stringify(newThr)}`)
      if (
        newThr <= this.kDefault.thresholdLimits.max &&
        newThr >= this.kDefault.thresholdLimits.min
      ) {
        this.dialogMsg = `similarity threshold set to ${newThr}`
        this.$root.$emit('thresholdChange', newThr)
      } else {
        this.dialogMsg = 'input out of range - (1 - 180)'
      }
    }
  },
  mounted() {
    this.$root.$on(
      'infoGene',
      (info: { gene: IGene; genome: any; aseqInfo: any }) => {
        log.debug(`Heard event for info of gene ${info.gene.stable_id}`)
        log.debug(info.gene)
        this.infoGene = info.gene as IGene
        this.infoGene.aseqInfo = info.aseqInfo
        this.infoGenome = info.genome
        this.status.hovered = true
        const groups = info.gene.representation.groups
        if (groups.length) {
          this.bestGroup = groups[groups.length - 1]
        } else {
          this.bestGroup = this.kDefault.bestGroup
        }
      }
    )
    this.$root.$on('cleanInfo', () => (this.status.hovered = false))
    this.$root.$on(
      'geneSelected',
      (info: { gene: IGene; genome: any; id: number }) => {
        log.debug(`Select for info of gene ${info.gene.stable_id}`)
        this.selectedInfo = info
        this.status.selected = true
        const groups = info.gene.representation.groups
        log.debug(`Number of groups: ${groups.length}`)
        if (groups.length) {
          this.selectedInfo.bestGroup = groups[groups.length - 1]
        } else {
          this.selectedInfo.bestGroup = this.kDefault.bestGroup
        }
      }
    )
    this.$root.$on('geneUnselected', () => (this.status.selected = false))
    this.$root.$on('updateDialog', (msg: string) => (this.dialogMsg = msg))
    this.$root.$on(
      'newickUpdated',
      (nwk: string) => (this.pack.config.user.newickTree = nwk)
    )
    this.settingsHash = this.parseHash()
  },
  methods: {
    parseHash() {
      const hash = this.pack.config.internal.hash
      const temp = hash.split('')
      const leadingChars = 12
      const tailingChars = 0
      const start = temp.splice(0, leadingChars).join('')
      let end = ''
      if (tailingChars) {
        end = temp.splice(tailingChars).join('')
      }
      const hashColors = temp
        .join('')
        .match(/.{6}/g)
        .map((color: string) => `#${color}`)
      return {
        start,
        hashColors,
        end
      }
    },
    makeStyle(color: string) {
      return `background-color: ${color}`
    },
    goBackToSplash() {
      this.$root.$emit('goBackToSplash')
    },
    parseNames(geneInfoNames: string[]) {
      if (geneInfoNames) {
        return geneInfoNames.join(', ')
      }
      return ''
    },
    findSelected() {
      this.$root.$emit('findSelected', this.selectedInfo.gene.gh)
    },
    exportSVG(event: any) {
      const svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg')
      const phyloLive = document.getElementById('phylogicianTS')
      const genesLive = document.getElementById('genesSVG')
      if (phyloLive && genesLive) {
        const phylo = phyloLive.cloneNode(true)
        const genes = genesLive.cloneNode(true)
        const exportPhyloGroup = document.createElement('g')
        exportPhyloGroup.appendChild(phylo)
        exportPhyloGroup.id = 'exportPhyloSVG'
        const exportGeneGroup = document.createElement('g')
        exportGeneGroup.id = 'exportGenesSVG'
        exportGeneGroup.appendChild(genes)
        svg.appendChild(exportPhyloGroup)
        svg.appendChild(exportGeneGroup)
        const genesExport = svg.getElementById('exportGenesSVG')
        const coords = phyloLive.getBoundingClientRect()
        genesExport.setAttribute('transform', `translate(${coords.width})`)
      }
      const svgContent = svg.outerHTML
      const blob = new Blob([svgContent], {
        type: 'image/svg+xml'
      })
      const url = window.URL.createObjectURL(blob)
      const link = event.target

      link.target = '_blank'
      link.download = `${
        this.pack.config.user.settings.geneHoodPrefix
      }.geneHood.${Date.now()}.svg`
      link.href = url

      log.info('download svg')
    },
    exportProject(event: any) {
      log.debug('Export')
      log.debug(this.pack.config.user.newickTree)
      const buffer = Buffer.from(JSON.stringify(this.pack))
      const zipped = zlib.gzipSync(buffer)
      const blob = new Blob([zipped], {
        type: 'application/zlib'
      })
      const url = window.URL.createObjectURL(blob)
      const link = event.target

      link.target = '_blank'
      link.download = `${
        this.pack.config.user.settings.geneHoodPrefix
      }.geneHood.pack.${Date.now()}.json.gz`
      link.href = url

      log.info('download project')
    }
  }
})
</script>

<style>
#control .vc-slider-swatches {
  display: flex;
  margin-top: 10px;
}
</style>
