<template>
  <div :id="divId" :refs="divId" class="flex flex-col h-auto w-full"></div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Phylogician } from 'phylogician-ts'

import { Logger } from 'loglevel-colored-prefix'
import { ISvgParams } from 'phylogician-ts/lib/interfaces'

import { IGh } from '../src/interfaces'

const loglevel = 'info'
const logger = new Logger(loglevel)
const log = logger.getLogger('Phylogeny')

const kDefaults = {
  heightIncrementPerNode: 45
}

interface IProps {
  version: string
}

export default Vue.extend({
  props: {
    newick: {
      type: String,
      default() {
        return ''
      }
    },
    genomeInfo: {
      type: Object,
      default() {
        return []
      }
    }
  },
  data() {
    const divId = 'phylogeny'
    const phylogeny = new Phylogician(undefined, loglevel)
    log.debug('phylogeny created')
    const attributes: ISvgParams = {
      width: 0,
      height: 0,
      margin: 20
    }
    return {
      attributes,
      divId,
      phylogeny
    }
  },
  watch: {
    'phylogeny.tree.nodes'() {
      this.broadcastGeneClusterPosition()
    }
  },
  beforeMount() {
    this.$root.$on('genesReady', this.broadcastGeneClusterPosition)
    this.$root.$on('writeNewick', this.writeNewick)
  },
  mounted() {
    window.addEventListener('resize', this.updatePhylogenyWidth)
    log.debug(this.newick)
    log.debug('Ready to draw phylogeny')
    this.attributes.width = this.$el.clientWidth
    this.phylogeny.data(this.newick)
    this.phylogeny.tree.nodes.forEach((node) => {
      const genomeVersion = node.name.split('-')[0]
      const genomeName = this.genomeInfo.info.find((g: { version: string }) => {
        return g.version === genomeVersion
      })
      const locus = node.name.split('-')[1]
      if (genomeName) {
        node.setDisplayName(`${locus} - ${genomeName.species}`)
      }
    })
    const numberOfNodes = this.phylogeny.tree.getNumberOfLeafs()
    this.attributes.height = numberOfNodes * kDefaults.heightIncrementPerNode
    this.phylogeny
      .setSvgParameters(this.attributes)
      .setFontSizeAllLabels('0.6em')
      .setLayout('vertical')
      .toggleScale()
      .draw(`#${this.divId}`)
    this.shouldHideLabel()
    this.$root.$on('findSelected', (gh: IGh) => {
      const node = this.phylogeny.tree.findNodeByExactName(gh.ref)
      if (node) {
        const y = node[0].getPosY() - (window.innerHeight / 2 - 96)
        log.debug(`scrolling to ${node[0].name} at y = ${y}`)
        window.scroll(0, y)
      }
    })
    this.$root.$on('giveCurrentTree', () => {
      return this.phylogeny.tree.writeNewick()
    })
  },
  methods: {
    broadcastGeneClusterPosition() {
      const posY = this.phylogeny.tree
        .getAllLeafIds()
        .map((leafId) => this.phylogeny.tree.getNode(leafId))
        .map((leafNode) => {
          const info = {
            name: leafNode.name,
            y: leafNode.getPosY()
          }
          return info
        })
      log.debug('Broadcasting new cluster positions')
      this.$root.$emit('phylogenyUpdated', posY)
      this.$root.$emit('newickUpdated', this.phylogeny.tree.writeNewick())
    },
    updatePhylogenyWidth() {
      if (this.attributes.width !== this.$el.clientWidth) {
        this.attributes.width = this.$el.clientWidth
        this.shouldHideLabel()
        this.phylogeny.setSvgParameters(this.attributes)
      }
    },
    shouldHideLabel() {
      let longestLabel = 0
      this.phylogeny.tree.nodes.forEach((node) => {
        const labelWidth = node.getLabelWidth()
        longestLabel = longestLabel > labelWidth ? longestLabel : labelWidth
      })
      log.debug(`Longest label width: ${longestLabel}`)
      if (this.attributes.width * 0.8 < longestLabel) {
        this.phylogeny.showLeafLabels(false).update()
      } else {
        this.phylogeny.showLeafLabels(true).update()
      }
    },
    writeNewick() {
      this.$root.$emit('broadcastNewick', this.phylogeny.tree.writeNewick())
    }
  }
})
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/

#phylogicianTS-tooltip {
  @apply font-gligoth;
}
#phylogicianTS-tooltip-menu {
  @apply m-2;
}
</style>
