<template>
  <div class="h-auto w-full flex flex-col justify-center bg-splash-bg">
    <div class="absolute top-0 right-0 m-3 w-32">
      <img src="~/assets/105-caltech_logo-orange_rgb.png" />
    </div>
    <div class="mt-10 flex mx-auto flex-col py-10">
      <div class="flex flex-row mx-auto">
        <div class="w-16 sm:w-20">
          <img src="@/assets/logo.nobg.white.png" />
        </div>
        <div class="flex m-auto flex-row text-gray-100">
          <div class="m-auto sm:m-0 sm:ml-2 font-title text-3xl sm:text-4xl">
            GeneHood
          </div>
          <div class="mx-1 font-roboto text-xs">v{{ version }}</div>
        </div>
      </div>
      <div
        class="my-2 mx-auto px-10 sm:w-4/5 lg:w-3/4 flex flex-row w-full justify-center items-center"
      >
        <load-data-button class="px-5" />
        <demo-data-button class="px-5" />
      </div>
      <div
        class="px-5 mx-auto font-roboto font-bold text-3xl tracking-wide text-center text-white"
      >
        Evolutionary analysis of gene clusters.
      </div>
      <div class="mx-auto py-5 w-3/4 sm:w-1/2 border-0 focus:outline-none">
        <vue-plyr>
          <video class="focus:outline-none" controls>
            <source
              src="https://www.dropbox.com/s/lgrqehi2hl7wxhc/SupplementaryMovie1.mp4?raw=1"
              type="video/mp4"
              :poster="posterUrl"
            />
            Your browser does not support HTML video.
          </video>
        </vue-plyr>
      </div>
      <div class="mx-auto flex flex-col text-sm w-3/4 items-center">
        <div
          class="my-3 flex text-xs text-gray-600 border-b border-dashed border-gray-600 cursor-pointer"
          @click="toggleSoftwareReq"
        >
          software requirements
        </div>
        <div v-if="showSoftwareReq" class="font-cascadia text-gray-200 text-xs">
          <p>NCBI BLAST TOOLS 2.6.0+ (blastp and makeblastdb)</p>
          <p>NodeJS 12.13+</p>
        </div>
        <div class="">
          <div class="px-5 my-2 font-roboto text-gray-400  tracking-wide">
            1. Install GeneHood command line application.
          </div>
          <div
            class="py-2 mx-auto w-86 px-5 flex rounded-lg bg-black text-white items-center font-cascadia text-sm"
          >
            <span class="text-blue-400 whitespace-pre">$ </span> npm install -g
            genehood-cli
          </div>
        </div>
        <div class="my-5">
          <div class="px-5 my-2 font-roboto text-gray-400  tracking-wide">
            2. Initialize a new project.
          </div>
          <div
            class="py-2 w-86 mx-auto px-5 flex rounded-lg bg-black text-white items-center font-cascadia text-sm"
          >
            <span class="text-blue-400 whitespace-pre">$ </span> genehood
            myProject --action init
          </div>
        </div>
        <div class="my-3">
          <div class="px-5 w-86 font-roboto text-gray-400 tracking-wide">
            3. Set parameters in the configuration file.
          </div>
          <div
            class="py-2 w-86 my-2 mx-auto px-5 flex rounded-lg bg-black text-white items-center font-cascadia text-sm"
          >
            <span
              ><span class="text-blue-400 whitespace-pre">$ </span>genehood
              myProject --addRange 10 10 --addStableIds stableId.lst
              --addPhylogenetic tree.nwk
            </span>
          </div>
          <div class="px-5 w-86 font-roboto text-gray-400 tracking-wide">
            We set the range to span 10 genes downstream and 10 upstream of the
            reference gene.<br />
            <span class="font-cascadia text-xs text-white">tree.nwk</span> is a
            tree in newick format.<br />
            <span class="font-cascadia text-xs text-white">stableIds.lst</span>
            is a list of identifiers.<br />
          </div>
        </div>
        <div class="mt-3">
          <div class="px-5 my-2 font-roboto text-gray-400  tracking-wide">
            4. Run GeneHood cli.
          </div>
          <div
            class="py-2 mx-auto w-86 px-5 flex rounded-lg bg-black text-white items-center font-cascadia text-sm"
          >
            <span class="text-blue-400 whitespace-pre">$ </span> genehood
            myProject --action run
          </div>
        </div>
        <div class="my-3">
          <div class="px-5 w-86 font-roboto text-gray-400 tracking-wide">
            5. Load the file
            <span class="font-cascadia text-xs text-white"
              >myProject.genehood.pack.json.gz</span
            >
            here.
          </div>
        </div>
      </div>
      <a href="https://www.npmjs.com/package/genehood-cli" target="_blank">
        <div
          class="w-32 text-center mx-auto mt-5 cursor-pointer bg-blue-800 rounded-lg px-3 py-1 text-white sm:text-xs"
        >
          Documentation
        </div>
      </a>
    </div>
    <div
      class="flex flex-col w-full py-5 text-gray-900 items-center bg-blue-900"
    >
      <div
        class="w-full flex flex-col sm:flex-row sm:justify-around text-gray-900 items-center bg-blue-900"
      >
        <div class="text-center text-gray-300 my-2">
          Code available
          <div class="flex flex-row items-center">
            <a target="_blank" href="https://gitlab.com/genehood">
              <img
                src="https://about.gitlab.com/images/press/logo/png/gitlab-logo-gray-rgb.png"
                width="100px"
              />
            </a>
          </div>
        </div>
        <div class="flex flex-col mx-auto sm:mx-0 my-5 text-gray-300">
          <div class="mx-auto">
            Contact
          </div>
          <div class="flex flex-row mx-auto items-center justify-center my-1">
            <a
              class="mx-1 px-2"
              target="_blank"
              href="https://twitter.com/genehoodapp"
            >
              <img
                src="@/assets/Twitter_Social_Icon_Square_Color.png"
                width="35px"
              />
            </a>
            <a
              class="mx-1 px-2"
              target="_blank"
              href="https://gitlab.com/groups/genehood/-/issues"
            >
              <img inline-svg src="@/assets/gitlab-icon-rgb.svg" width="40px" />
            </a>
            <a
              class="mx-1 px-2"
              target="_blank"
              href="https://gitter.im/genehood/community"
            >
              <img src="@/assets/gitterLogo.png" width="35px" />
            </a>
          </div>
        </div>
      </div>
      <div class="flex w-full flex-col sm:flex-row justify-around">
        <div class="flex flex-col mx-auto sm:mx-0 my-5 text-gray-300">
          <div class="mx-auto">
            Powered by
          </div>
          <div class="flex flex-row mx-auto items-center my-3">
            <a
              class="mx-1"
              target="_blank"
              href="https://npmjs.com/phylogician-ts/"
            >
              <img src="@/assets/PhylogicianTS.logo.white.png" width="43px" />
            </a>
            <a
              class="mx-1"
              target="_blank"
              href="https://mist3.gitlab.io/mist3-ts/"
            >
              <img src="@/assets/mist3-ts.logo.white.png" width="43px" />
            </a>
            <a
              class="mx-1"
              target="_blank"
              href="https://typescript.nuxtjs.org/"
            >
              <img class="" src="@/assets/nuxt-logo-white.png" width="50px" />
            </a>
            <a class="mx-1" target="_blank" href="https://d3js.org">
              <img
                class=""
                svg-inline
                src="https://raw.githubusercontent.com/d3/d3-logo/master/d3-white.png"
                width="45px"
              />
            </a>
          </div>
        </div>
        <div class="flex flex-col mx-auto sm:mx-0 my-5 text-gray-300">
          <div class="mx-auto">
            Funding
          </div>
          <div class="flex flex-row mx-auto items-center justify-center my-3">
            <a class="mx-1" target="_blank" href="https://nih.gov/">
              <img src="@/assets/nih-logo-reverse.png" width="50px" />
            </a>
            <a class="mx-1" target="_blank" href="https://www.templeton.org/">
              <img
                src="https://www.templeton.org/wp-content/uploads/2017/03/JTF-Logo-Secondary-CMYK-WhiteText.png"
                width="110px"
              />
            </a>
            <a class="mx-1" target="_blank" href="https://www.moore.org/">
              <img
                class="m-2"
                svg-inline
                src="@/assets/logo-moore-white.png"
                width="75px"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="flex p-2 my-3">
        <a target="_blank" href="https://jensenlab.caltech.edu">
          <img src="@/assets/jensenLab.logo.png" width="140px" />
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import packageJson from '../package.json'
import LoadDataButton from './LoadDataButton'
import DemoDataButton from './DemoDataButton'

export default Vue.extend({
  components: {
    DemoDataButton,
    LoadDataButton
  },
  data() {
    const version = packageJson.version
    const showSoftwareReq = false
    return {
      version,
      showSoftwareReq
    }
  },
  computed: {
    posterUrl() {
      return require('@/assets/videoPoster.png')
    }
  },
  mounted() {
    window.scroll(0, 0)
  },
  methods: {
    toggleSoftwareReq() {
      this.showSoftwareReq = !this.showSoftwareReq
    }
  }
})
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
</style>
